@font-face {
  font-family: "WTMon";
  src: url("../font/WT_Monarch_Nova.otf");
}

// small tablets/large smartphones (landscape)
$screen-sm-min: 576px;
// small tablets (portrait)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 882px;
// large tablets/desktops
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
// medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
// large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
// extra-large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
// custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

$primary-font: "WTMon";

$secondary-color-gray: #eeeeee;
$secondary-color-white: #ffffff;

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: $secondary-color-white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
